# STEP1: eng_bn transiterate

In [2]:
from google.transliteration import transliterate_word
suggestions = transliterate_word('America', lang_code='bn')
print(suggestions)

['আমেরিকা', 'এমেরিকা', 'আমেৰিকা', 'আমেরিকে', 'অমেরিকা', 'আমেরিকাঃ']

In [17]:
# Define a function to transliterate a given string to Bengali script
def transliterate_to_bengali(text):
    suggestions = transliterate_word(text, lang_code='bn')
    print("suggestions: ", suggestions)
    top_suggestion = suggestions[0]
    return top_suggestion

In [18]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
# from indic_transliteration import sanscript

# Read the unigram_freq.csv file
df = pd.read_csv('unigram_freq.csv')

# Remove stop words using NLTK
stop_words = set(stopwords.words('english'))
df = df[~df['word'].isin(stop_words)]

# Take 50 most frequent words
df = df.nlargest(50, 'count')

In [19]:
df.shape

(50, 2)

In [20]:
df.head(4)

    word       count
26   new  1551258643
32  home  1276852170
34    us  1229112622
37  page  1082121730

In [21]:
df = df.head(4)

In [22]:



# Apply the function to each word in the dataframe
df['transliterated_word'] = df['word'].apply(transliterate_to_bengali)

# Print the resulting dataframe
print(df.head(4))

suggestions:  ['নিউ', 'নেয়', 'নেও', 'নাও', 'নেব', 'নয়']
suggestions:  ['হোম', 'হোমে', 'হমে', 'হ্মে', 'হোমি', 'হামে']
suggestions:  ['উস', 'উষ', 'জুস', 'ওসি', 'ঊস', 'উঃস']
suggestions:  ['পেজ', 'পেজে', 'পাগে', 'প্যাগে', 'পাজে', 'প্রাগে']
    word       count transliterated_word
26   new  1551258643                 নিউ
32  home  1276852170                 হোম
34    us  1229112622                  উস
37  page  1082121730                 পেজ

In [5]:
from google.transliteration import transliterate_word
suggestions = transliterate_word('America', lang_code='bn')
print(suggestions)

['আমেরিকা', 'এমেরিকা', 'আমেৰিকা', 'আমেরিকে', 'অমেরিকা', 'আমেরিকাঃ']

In [4]:
import pandas as pd
import nltk
from bangla_transliterate import transliterate

nltk.download('stopwords')

# Load the unigram_freq.csv file into a pandas DataFrame
df = pd.read_csv('unigram_freq.csv')

# Remove stop words using NLTK
stop_words = set(nltk.corpus.stopwords.words('english'))
df = df[~df['word'].isin(stop_words)]

# Take 50 most frequent words
df = df.nlargest(50, 'count')

# Transliterate each word to Bangla
df['word_bangla'] = df['word'].apply(transliterate)

ModuleNotFoundError: No module named 'bangla_transliterate'

In [ ]:
# Print the resulting DataFrame
df.shape

In [ ]:
df.head(5)

In [1]:
import pandas as pd
import nltk
nltk.download('stopwords')

# Load the unigram_freq.csv file into a pandas DataFrame
df = pd.read_csv('unigram_freq.csv')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [2]:

# Remove stop words using NLTK
stop_words = set(nltk.corpus.stopwords.words('english'))
df = df[~df['word'].isin(stop_words)]

# Take 50 most frequent words
df = df.nlargest(50, 'count')

# Print the resulting DataFrame

In [3]:
df.head()

      word       count
26     new  1551258643
32    home  1276852170
34      us  1229112622
37    page  1082121730
40  search  1024093118